
@{
    Layout = null;
}
@*This up here will be interpreted by the Razor view engine,
which processes the contents of views and generates HTML that is sent to the browser.*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device=width"/>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting (from the view)
        <p>
            We're going to have an exciting party!<br/>
            (To do: sell it better. Add pictures or something.)
        </p>
        <a asp-action="RsvpForm">Rsvp Now</a>
    </div>
</body>
</html>
